btop/.config/btop/*.log
scripts/.scripts/spicetify
**/OpenSubtitlesDownload.py
spicetify/.config/spicetify/config-xpui.ini
mpv/.config/mpv/script-opts/modernz-colorscheme.conf
mpv/.config/mpv/shaders/
