ghostty/.config/ghostty/theme.ghostty
ghostty/.config/ghostty/auto/

neovim/.config/nvim/lazy-lock.json
neovim/.config/nvim/lua/config/colorscheme.lua

**/**.log
**/OpenSubtitlesDownload.py
spicetify/.config/spicetify/config-xpui.ini

mpv/.config/mpv/script-opts/modernz-colorscheme.conf
mpv/.config/mpv/script-opts/colorscheme.conf
mpv/.config/mpv/shaders/
mpv/.config/mpv/*.json

vscodium/.config/VSCodium/User/settings.json
*.vsix

zen/profile.ian/chrome/current_theme.css

zsh/.config/fsh/*.zsh
zsh/.config/fsh/*.zwc
