/* ── Accent Color ──────────────── */
:root {
  --accent: #5BC2E7;

  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #b16286;
  --aqua: #689d6a;
  --orange: #d65d0e;
  --gray: #928374;
}

/* ── Dark ──────────────── */
@media (prefers-color-scheme: dark) {
  :root {
    /* Backgrounds */
    --bg0_h: #1d2021; /* main background */
    --bg0: #282828; /* sec background */
    --bg1: #3c3836; /* surface background */
    --bg2: #665c54; /* active surface */
    --bg3: #665c54; /* elevated components */
    --bg4: #7c6f64; /* hover */

    /* Foregrounds */
    --fg0: #fbf1c7; /* strongest foreground */
    --fg1: #ebdbb2; /* primary */
    --fg2: #d5c4a1; /* secondary */
    --fg3: #bdae93; /* muted text */
    --fg4: #a89984; /* subtle/disabled text */

    /* Colors */
    --accent-hover: #96D3E9; /* softer accent */
    --accent-active: #1BA7DA; /* deeper accent */

    color-scheme: dark;
  }
}

/* ── Light ──────────────── */
@media (prefers-color-scheme: light) {
  :root {
    /* Backgrounds */
    --bg0_h: #f9f5d7; /* main background */
    --bg0: #fbf1c7; /* sec background */
    --bg1: #ebdbb2; /* surface background */
    --bg2: #d5c4a1; /* active surface */
    --bg3: #bdae93; /* elevated components */
    --bg4: #a89984; /* hover */

    /* Foregrounds */
    --fg0: #282828; /* strongest foreground */
    --fg1: #3c3836; /* primary */
    --fg2: #504945; /* secondary */
    --fg3: #665c54; /* muted text */
    --fg4: #7c6f64; /* subtle/disabled text */

    /* Accent variations */
    --accent-hover: #1BA7DA; /* softer accent */
    --accent-active: #96D3E9; /* deeper accent */

    color-scheme: light;
  }
}