// //
// // Monokai Color Palette
// //

// // Dark Background
// $dark_bg1: #1E1F1C;
// $dark_bg1-hard: #1E1F1C;
// $dark_bg1-soft: #32332C;
// $dark_bg2: #272822;
// $dark_bg3: #3B3C35;

// // Dark Foreground
// $dark_fg1: #F8F8F2;
// $dark_fg2: #919289;
// $dark_fg3: #75715E;

// // Light Background
// $light_bg1: #EBE2DC;
// $light_bg1-soft: #DBD1CD;
// $light_bg1-hard: #F8EEE6;
// $light_bg2: #DBD1CD;
// $light_bg3: #998E94;

// // Light Foreground
// $light_fg1: #657B83;
// $light_fg2: #93A1A1;
// $light_fg3: #93A1A1;

// // Colors
// $theme_color_default: #8BE9FD;
// $theme_color_blue:    #8BE9FD;
// $theme_color_green:   #a8e24a;
// $theme_color_purple:  #AE81FF;
// $theme_color_pink:    #C0888B;
// $theme_color_red:     #F92672;
// $theme_color_orange:  #FD971F;
// $theme_color_yellow:  #E6DB74;
// $theme_color_grey:    #90908A;

// // Dark Colors
// $theme_color_dark_default:  #8BE9FD;
// $theme_color_dark_blue:     #8BE9FD;
// $theme_color_dark_green:    #a8e24a;
// $theme_color_dark_purple:   #AE81FF;
// $theme_color_dark_pink:     #C0888B;
// $theme_color_dark_red:      #F92672;
// $theme_color_dark_orange:   #FD971F;
// $theme_color_dark_yellow:   #E6DB74;
// $theme_color_dark_gray:     #90908A;

// //
// // Dracula Color Palette
// //

// // Dark Background
// $dark_bg1: #282A36;
// $dark_bg1-hard: #191A21;
// $dark_bg1-soft: #44475A;
// $dark_bg2: #363947;
// $dark_bg3: #44475A;

// // Dark Foreground
// $dark_fg1: #F8F8F2;
// $dark_fg2: #6272A4;
// $dark_fg3: #50588D;

// // Light Background
// $light_bg1: #F8F8F2;
// $light_bg1-soft: #D6D8DF;
// $light_bg1-hard: #FFFFFF;
// $light_bg2: #E6E7ED;
// $light_bg3: #C8CAD6;

// // Light Foreground
// $light_fg1: #44475A;
// $light_fg2: #363947;
// $light_fg3: #282A36;

// // Colors
// $theme_color_default: #8BE9FD;
// $theme_color_blue:    #8BE9FD;
// $theme_color_green:   #50FA7B;
// $theme_color_purple:  #BD93F9;
// $theme_color_pink:    #FF79C6;
// $theme_color_red:     #FF5555;
// $theme_color_orange:  #FFB86C;
// $theme_color_yellow:  #F1FA8C;
// $theme_color_grey:    #44475A;

// // Dark Colors
// $theme_color_dark_default:  #8BE9FD;
// $theme_color_dark_blue:     #8BE9FD;
// $theme_color_dark_green:    #50FA7B;
// $theme_color_dark_purple:   #BD93F9;
// $theme_color_dark_pink:     #FF79C6;
// $theme_color_dark_red:      #FF5555;
// $theme_color_dark_orange:   #FFB86C;
// $theme_color_dark_yellow:   #F1FA8C;
// // $theme_color_dark_gray:     #44475A;

// //
// // Omni Color Palette
// //

// // Dark Background
// $dark_bg1: #191622;
// $dark_bg1-hard: #15121d;
// $dark_bg1-soft: #44475a;
// $dark_bg2: #44475a;
// $dark_bg3: #1e1d26;

// // Dark Foreground
// $dark_fg1: #E1E1E6;
// $dark_fg2: #939295;
// $dark_fg3: #483C67;

// // Light Background
// $light_bg1: #C0CAF5;
// $light_bg1-soft: #D6D8DF;
// $light_bg1-hard: #FFFFFF;
// $light_bg2: #E6E7ED;
// $light_bg3: #DCDEE3;

// // Light Foreground
// $light_fg1: #343B58;
// $light_fg2: #40434F;
// $light_fg3: #6C6E75;

// // Colors
// $theme_color_default: #78D1E1;
// $theme_color_blue:    #78D1E1;
// $theme_color_green:   #67E480;
// $theme_color_purple:  #5A4C7F;
// $theme_color_pink:    #FF79C6;
// $theme_color_red:     #E96379;
// $theme_color_orange:  #E89E64;
// $theme_color_yellow:  #E7DE79;
// $theme_color_grey:    #CFC9C2;

// // Dark Colors
// $theme_color_dark_default:  #0F4B6E;
// $theme_color_dark_blue:     #0F4B6E;
// $theme_color_dark_green:    #385F0D;
// $theme_color_dark_purple:   #5A3E8E;
// $theme_color_dark_pink:     #5A3E8E;
// $theme_color_dark_red:      #8C4351;
// $theme_color_dark_orange:   #965027;
// $theme_color_dark_yellow:   #8F5E15;
// $theme_color_dark_gray:     #40434F;
    
//
// Gruvbox Color Palette
//

// Dark Background
$dark_bg1: #1D2021;
$dark_bg1-hard: #131516;
$dark_bg1-soft: #282828;
$dark_bg2: #3C3836;
$dark_bg3: #504945;

// Dark Foreground
$dark_fg1: #EBDBB2;
$dark_fg2: #D5C4A1;
$dark_fg3: #BDAE93;

// Light Background
$light_bg1: #EBDBB2;
$light_bg1-soft: #FBF1C7;
$light_bg1-hard: #E3CC93;
$light_bg2: #D5C4A1;
$light_bg3: #BDAE93;

// Light Foreground
$light_fg1: #282828;
$light_fg2: #3C3836;
$light_fg3: #504945;

// Colors
$theme_color_default: #83A598;
$theme_color_blue:    #83A598;
$theme_color_aqua:    #8EC07C;
$theme_color_green:   #B8BB26;
$theme_color_purple:  #D3869B;
$theme_color_pink:    #D3869B;
$theme_color_red:     #FB4934;
$theme_color_orange:  #FE8019;
$theme_color_yellow:  #FABD2F;
$theme_color_grey:    #A89984;

// Neutral Colors
$theme_color_dark_default:  #458588;
$theme_color_dark_blue:     #458588;
$theme_color_dark_aqua:     #689D6A;
$theme_color_dark_green:    #98971A;
$theme_color_dark_purple:   #B16286;
$theme_color_dark_pink:     #B16286;
$theme_color_dark_red:      #CC241D;
$theme_color_dark_orange:   #D65D0E;
$theme_color_dark_yellow:   #D79921;
$theme_color_dark_gray:     #928374;
