@function gtkalpha($c,$a) {
  @return unquote("alpha(#{$c},#{$a})");
}

@function gtkmix($c1,$c2,$r) {
  $ratio: 1 -  $r / 100%; // match SCSS gtkmix()
  @return unquote("mix(#{$c1},#{$c2},#{$ratio})");
}

@function gtkshade($c,$s) {
  @return unquote("shade(#{$c},#{$s})");
}

@function gtkcolor($c) {
  @return unquote("@#{$c}");
}

// base options
@import 'theme-options-temp';
@import 'gtk-base-temp';

// colors palette
@import 'colors-palette';

// ================== COLOR PALETTE ==================
@import 'colors-palette';

// Base colors
$base_color:                        if($variant == 'light', $light_bg1, $dark_bg1);
$text_color:                        if($variant == 'light', $light_fg1, $dark_fg1);
$bg_color:                          if($variant == 'light', $light_bg2, $dark_bg1);
$fg_color:                          if($variant == 'light', $light_fg1, $dark_fg1);
$alt_fg_color:                      if($variant == 'light', $light_fg2, $dark_fg2);
$hint_fg_color:                     if($variant == 'light', $light_fg3, $dark_fg3);

//insensitive state derived colors
$disabled_fg_color:                 if($variant == 'light', rgba($fg_color, 0.45), rgba($fg_color, 0.35));
$alt_disabled_fg_color:             if($variant == 'light', rgba($alt_fg_color, 0.45), rgba($alt_fg_color, 0.35));
$disabled_bg_color:                 if($variant == 'light', gtkmix($bg_color, $base_color, 40%), lighten($bg_color, 2%));

$active_color:                      if($variant == 'light', gtkalpha(currentColor, 0.26), gtkalpha(currentColor, 0.2));
$track_color:                       if($variant == 'light', gtkalpha(currentColor, 0.20), gtkalpha(currentColor, 0.16));
$visit_color:                       if($variant == 'light', gtkalpha(currentColor, 0.16), gtkalpha(currentColor, 0.12));
$divider_color:                     if($variant == 'light', gtkalpha(currentColor, 0.12), gtkalpha(currentColor, 0.1));
$fill_color:                        if($variant == 'light', gtkalpha(currentColor, 0.06), gtkalpha(currentColor, 0.05));

$light_fg_color:                    $fg_color;
$light_alt_fg_color:                rgba($fg_color, 0.85);
$light_hint_fg_color:               rgba($fg_color, 0.50);
$light_disabled_fg_color:           rgba($fg_color, 0.45);
$light_alt_disabled_fg_color:       rgba($fg_color, 0.35);
$light_track_color:                 rgba($fg_color, 0.2);
$light_divider_color:               rgba($fg_color, 0.12);
$light_fill_color:                  rgba($fg_color, 0.06);

$selected_fg_color:                 $light_fg_color;
$selected_bg_color:                 $theme_color_default;

@if $theme == 'blue' {
  $selected_bg_color:               $theme_color_blue;
}

@if $theme == 'purple' {
  $selected_bg_color:               $theme_color_purple;
}

@if $theme == 'pink' {
  $selected_bg_color:               $theme_color_pink;
}

@if $theme == 'red' {
  $selected_bg_color:               $theme_color_red;
}

@if $theme == 'orange' {
  $selected_bg_color:               $theme_color_orange;
}

@if $theme == 'yellow' {
  $selected_bg_color:               $theme_color_yellow;
}

@if $theme == 'green' {
  $selected_bg_color:               $theme_color_green;
}

@if $theme == 'grey' {
  $selected_bg_color:               $theme_color_grey;
}

$primary_color:                     $selected_bg_color;

$selected_borders_color:            darken($selected_bg_color, 10%);
$borders_color:                     if($variant == 'light', rgba(black, 0.12), rgba(white, 0.12));
$light_borders_color:               if($variant == 'light', rgba(black, 0.08), rgba(white, 0.10));
$dark_borders_color:                if($variant == 'light', rgba(black, 0.08), rgba(black, 0.15));
$solid_borders_color:               if($variant == 'light', gtkmix(black, $base_color, 12%), gtkmix(white, $base_color, 12%));
$dark_solid_borders_color:          if($variant == 'light', gtkmix(black, $base_color, 12%), gtkmix(white, $base_color, 15%));
$highlight_color:                   if($variant == 'light', rgba(white, 0.15), rgba(white, 0.1));

// Gnome-shell background colors
$dark_bg_color:                     rgba(black, 0.6);
$alt_dark_bg_color:                 rgba(black, 0.3);

// for gnome-shell keyboard
$solid_bg_color:                    if($variant == 'light', #eeeeee, #555555);
$alt_solid_bg_color:                if($variant == 'light', #c0c0c0, #242424);

// Link colors
$link_color:                        $theme_color_blue;
$link_visited_color:                if($variant == 'light', lighten($text_color, 10%), darken($text_color, 15%));

// Theme colors
$selection_mode_bg:                 lighten($selected_bg_color, 15%);
$warning_color:                     $theme_color_orange;
$error_color:                       $theme_color_red;
$success_color:                     $theme_color_green;
$destructive_color:                 $theme_color_red;
$suggested_color:                   $theme_color_blue;

$progress_color:                    $selected_bg_color;
$drop_target_color:                 $theme_color_orange;

// Headerbar colors
$header_bg:                         $bg_color;
$header_highlight:                  $fg_color; // For metacity
$header_fg:                         $fg_color;

$dark_header_bg:                    if($trans == 'true', rgba($base_color, 0.96), $base_color);
$header_bg_backdrop:                if($variant == 'light', darken($header_bg, 0%), darken($header_bg, 0%));
$header_border:                     $bg_color; // if($variant == 'light', mix(black, $header_bg, 12%), mix(black, $header_bg, 75%)); // opacity
$header_border_backdrop:            if($variant == 'light', gtkmix(black, $header_bg, 8%), gtkmix(black, $header_bg, 45%));

// Sidebar colors
$dark_sidebar_bg: $bg_color;
$opacity: 0.96;

@if $trans=='true' {
  $dark_sidebar_bg:               rgba($bg_color, $opacity);
}

$dark_sidebar_fg:                   $text_color;
$dark_sidebar_border:               if($variant == 'light', $solid_borders_color, $header_border);
$sidebar_theme_color:               gtkalpha(currentColor, 0.15);

//dialog
$dialog_bg_color:                   if($variant == 'light', $bg_color, $base_color);

@if $trans=='true' {
  $dialog_bg_color:                 if($variant == 'light', gtkalpha($bg_color, $opacity), gtkalpha($bg_color, $opacity));
}

//OSD colors
$osd_fg_color:                      $text_color;
$solid_osd_bg_color:                if($darker == 'true', #1a1a1a, $dark_bg3);

$osd_bg_color:                      if($trans == 'true', rgba($solid_osd_bg_color, $opacity), $solid_osd_bg_color);

$osd_button_bg:                     rgba(lighten($solid_osd_bg_color, 22%), $opacity);
$osd_button_border:                 $dark_borders_color;
$osd_entry_bg:                      rgba(lighten($solid_osd_bg_color, 22%), $opacity);
$osd_entry_border:                  $dark_borders_color;
$osd_disabled_bg_color:             darken($solid_osd_bg_color, 3%);
$osd_disabled_fg_color:             rgba($solid_osd_bg_color, 0.35);
$osd_borders_color:                 $dark_borders_color;

// Menu colors
$menu_bg:                           $base_color;
$menu_bd:                           if($variant == 'light', rgba(black, 0.08), rgba(white, 0.07));

@if $trans == 'true' {
  $menu_bg:                         rgba($base_color, $opacity);
}

$popover_opacity:                   if($trans == 'false', 1, if($shell_version == 'new', 0.92, 0.96));
$popover_bg_color:                  if($variant == 'light', rgba($bg_color, $popover_opacity), rgba($base_color, $popover_opacity));

$submenu_bg_color:                  if($variant == 'light', rgba(white, 1), rgba(white, 0.1));

@if $trans=='true' {
  $submenu_bg_color:                if($variant == 'light', rgba(white, 0.75), rgba(white, 0.15));
}

// Panel colors
$panel_bg:                          $bg_color;
$panel_opacity: 1;

@if $trans == 'true' {
  $panel_bg:                        if($variant == 'light', rgba(white, $panel_opacity/2 + 0.08), rgba(black, $panel_opacity));

  @if $panel_font == 'black' {
    $panel_bg:                      if($variant == 'light', rgba(white, $panel_opacity/2 + 0.08), rgba(black, $panel_opacity/2));
  }
}

$panel_text:                        $text_color;

$panel_fg:                          $panel_text;
$panel_track:                       if(($trans == 'false' or $panel_font == 'black') and $variant == 'light', rgba(black, 0.15), rgba(white, 0.28));
$panel_divider:                     if(($trans == 'false' or $panel_font == 'black') and $variant == 'light', rgba(black, 0.08), rgba(white, 0.15));

$dash_fg:                           $fg_color;
$dash_bg:                           if($variant == 'light', rgba(#d1d1d1, $panel_opacity + 0.33), rgba(if($darker == 'true', #1f1f1f, #222222), $panel_opacity/2 + 0.6));

@if $trans == 'true' and $panel_font == 'black' {
  $dash_bg:                         if($variant == 'light', rgba(#d1d1d1, $panel_opacity/2 + 0.08), rgba(if($darker == 'true', #1f1f1f, #222222), $panel_opacity + 0.15));
}

// Entry colors
$entry_bg:                          if($variant=='light', rgba(black, 0.05), rgba(white, 0.05));
$entry_border:                      $borders_color;
$entry_highlight:                   gtkalpha($selection_mode_bg, 0.75);

// Button colors
$button_bg:                         if($variant == 'light', $light_bg3, $dark_bg3);
$button_border:                     $borders_color;

// Button borders and highlights colors
$button_highlight:                  if($variant == 'light', white, rgba(white, 0.1));
$button_borders:                    if($variant == 'light', $button_border, $dark_borders_color);

// WM colors
$wm_outline_light:                  0 0 0 2px rgba(black, 0.03), 0 0 0 1px rgba(black, 0.12);
$wm_outline_dark:                   0 0 0 2px rgba(black, 0.1), 0 0 0 1px rgba(black, 0.75);
$wm_border:                         if($variant=='light', rgba(black, 0.15), rgba(black, 0.75));
$wm_shadow:                         if($variant=='light', rgba(black, 0.15), rgba(black, 0.35));
$wm_shadow_backdrop:                if($variant=='light', rgba(black, 0.08), rgba(black, 0.15));
$wm_outline:                        if($variant=='light', $wm_outline_light, $wm_outline_dark);

// WM Buttons

// Close
$wm_button_close_bg:                if($variant == 'light', $theme_color_red, $theme_color_red);
$wm_button_close_hover_bg:          if($variant == 'light', $theme_color_red, $theme_color_red);
$wm_button_close_active_bg:         if($variant == 'light', $theme_color_dark_red, $theme_color_dark_red);
$wm_button_close_border:            if($variant == 'light', $theme_color_dark_red, $theme_color_dark_red);
$wm_icon_close_bg:                  if($variant == 'light', $theme_color_dark_red, $theme_color_dark_red);

// Minimize
$wm_button_minimize_bg:             if($variant == 'light', $theme_color_yellow, $theme_color_yellow);
$wm_button_minimize_hover_bg:       if($variant == 'light', $theme_color_yellow, $theme_color_yellow);
$wm_button_minimize_active_bg:      if($variant == 'light', $theme_color_dark_yellow, $theme_color_dark_yellow);
$wm_button_minimize_border:         if($variant == 'light', $theme_color_dark_yellow, $theme_color_dark_yellow);
$wm_icon_minimize_bg:               if($variant == 'light', $theme_color_dark_yellow, $theme_color_dark_yellow);

// Maximize
$wm_button_maximize_bg:             if($variant == 'light', $theme_color_green, $theme_color_green);
$wm_button_maximize_hover_bg:       if($variant == 'light', $theme_color_green, $theme_color_green);
$wm_button_maximize_active_bg:      if($variant == 'light', $theme_color_dark_green, $theme_color_dark_green);
$wm_button_maximize_border:         if($variant == 'light', $theme_color_dark_green, $theme_color_dark_green);
$wm_icon_maximize_bg:               if($variant == 'light', $theme_color_dark_green, $theme_color_dark_green);
