/* ── Accent Color ──────────────── */
:root {
  --accent: oklch(0.672 0.131 38.756);
}

/* ── Dark ──────────────── */
@media (prefers-color-scheme: dark) {
  :root {
    /* Backgrounds */
    --bg0: oklch(0.217 0.004 106.715); /* main background */
    --bg1: oklch(0.268 0.004 106.643); /* secondary background */
    --bg2: oklch(0.304 0.004 106.607); /* surface background */
    --bg3: oklch(0.352 0.003 106.573); /* active surface */
    --bg4: oklch(0.397 0.003 106.549); /* elevated components */
    --bg5: oklch(0.445 0.003 106.529); /* hover */

    /* Foregrounds */
    --fg0: oklch(0.967 0.008 91.483); /* strongest foreground */
    --fg1: oklch(0.920 0.012 84.580); /* primary */
    --fg2: oklch(0.821 0.016 86.435); /* secondary */
    --fg3: oklch(0.714 0.016 80.690); /* muted text */
    --fg4: oklch(0.606 0.015 78.211); /* subtle/disabled text */

    /* Accent variations */
    --accent-hover:  oklch(from var(--accent) calc(l+0.08) c h);
    --accent-active: oklch(from var(--accent) calc(l-0.08) c h);

    /* ANSI / semantic colors */
    --red:    oklch(0.745 0.127 25.828);
    --green:  oklch(0.767 0.097 155.863);
    --yellow: oklch(0.836 0.099 83.819);
    --blue:   oklch(0.734 0.102 254.459);
    --purple: oklch(0.755 0.116 308.189);
    --aqua:   oklch(0.861 0.105 180.199);
    --orange: oklch(0.672 0.131 38.756);
    --gray:   oklch(0.565 0.021 83.037);
  }
}

/* ── Light ──────────────── */
@media (prefers-color-scheme: light) {
  :root {
    /* Backgrounds */
    --bg0: oklch(0.985 0.007 88.642); /* main background */
    --bg1: oklch(0.967 0.008 91.483); /* secondary background */
    --bg2: oklch(0.943 0.011 89.725); /* surface background */
    --bg3: oklch(0.919 0.014 88.688); /* active surface */
    --bg4: oklch(0.889 0.017 88.006); /* elevated components */
    --bg5: oklch(0.841 0.021 84.592); /* hover */

    /* Foregrounds */
    --fg0: oklch(0.217 0.004 106.715); /* strongest foreground */
    --fg1: oklch(0.304 0.004 106.607); /* primary */
    --fg2: oklch(0.352 0.003 106.573); /* secondary */
    --fg3: oklch(0.397 0.003 106.549); /* muted text */
    --fg4: oklch(0.445 0.003 106.529); /* subtle/disabled text */

    /* Accent variations */
    --accent-hover:  oklch(from var(--accent) calc(l-0.08) c h);
    --accent-active: oklch(from var(--accent) calc(l-0.16) c h);

    /* ANSI / semantic colors */
    --red:    oklch(0.612 0.156 26.443);
    --green:  oklch(0.584 0.09 153.339);
    --yellow: oklch(0.675 0.1 78.721);
    --blue:   oklch(0.532 0.087 255.937);
    --purple: oklch(0.575 0.102 309.703);
    --aqua:   oklch(0.641 0.088 175.601);
    --orange: oklch(0.672 0.131 38.756);
    --gray:   oklch(0.606 0.015 78.211);
  }
}
