/* ── Accent Color ──────────────── */
:root {
  --accent: oklch(0.767 0.109 224.571);
}

/* ── Dark ──────────────── */
@media (prefers-color-scheme: dark) {
  :root {
    /* Backgrounds */
    --bg0: oklch(0.241 0.005 219.672); /* main background */
    --bg1: oklch(0.277 0 0);           /* secondary background */
    --bg2: oklch(0.344 0.007 48.523);  /* surface background */
    --bg3: oklch(0.411 0.012 51.866);  /* active surface */
    --bg4: oklch(0.482 0.018 61.042);  /* elevated components */
    --bg5: oklch(0.550 0.023 62.567);  /* hover */

    /* Foregrounds */
    --fg0: oklch(0.956 0.055 96.155); /* strongest foreground */
    --fg1: oklch(0.894 0.057 89.240); /* primary */
    --fg2: oklch(0.825 0.051 85.116); /* secondary */
    --fg3: oklch(0.756 0.041 82.284); /* muted text */
    --fg4: oklch(0.690 0.035 76.307); /* subtle/disabled text */

    /* Accent variations */
    --accent-hover:  oklch(from var(--accent) calc(l+0.08) c h);
    --accent-active: oklch(from var(--accent) calc(l-0.08) c h);

    /* ANSI / semantic colors */
    --red:    oklch(0.66 0.218 30.392);
    --green:  oklch(0.765 0.158 110.835);
    --yellow: oklch(0.832 0.159 82.987);
    --blue:   oklch(0.693 0.042 169.768);
    --purple: oklch(0.705 0.098 2.189);
    --aqua:   oklch(0.756 0.108 137.676);
    --orange: oklch(0.731 0.182 51.693);
    --gray:   oklch(0.619 0.029 67.258);
  }
}

/* ── Light ──────────────── */
@media (prefers-color-scheme: light) {
  :root {
    /* Backgrounds */
    --bg0: oklch(0.965 0.039 100.862); /* main background */
    --bg1: oklch(0.956 0.055 96.155);  /* secondary background */
    --bg2: oklch(0.894 0.057 89.240);  /* surface background */
    --bg3: oklch(0.825 0.051 85.116);  /* active surface */
    --bg4: oklch(0.756 0.041 82.284);  /* elevated components */
    --bg5: oklch(0.690 0.035 76.307);  /* hover */

    /* Foregrounds */
    --fg0: oklch(0.277 0 0);          /* strongest foreground */
    --fg1: oklch(0.344 0.007 48.523); /* primary */
    --fg2: oklch(0.411 0.012 51.866); /* secondary */
    --fg3: oklch(0.482 0.018 61.042); /* muted text */
    --fg4: oklch(0.55 0.023 62.567);  /* subtle/disabled text */

    /* Accent variations */
    --accent-hover:  oklch(from var(--accent) calc(l-0.08) c h);
    --accent-active: oklch(from var(--accent) calc(l-0.16) c h);

    /* ANSI / semantic colors */
    --red:    oklch(0.437 0.179 28.26);
    --green:  oklch(0.546 0.112 106.464);
    --yellow: oklch(0.618 0.128 70.674);
    --blue:   oklch(0.471 0.082 215.806);
    --purple: oklch(0.489 0.124 344.276);
    --aqua:   oklch(0.534 0.082 155.401);
    --orange: oklch(0.513 0.162 39.297);
    --gray:   oklch(0.619 0.029 67.258);
  }
}