@import url('./current_theme.css');
@import url('https://raw.githubusercontent.com/refact0r/system24/refs/heads/main/theme/system24.theme.css');

body {
  /* font, change to '' for default discord font */
  --font: 'NotoSans Nerd Font'; /* change to '' for default discord font */
  --code-font: 'JetBrainsMonoNL Nerd Font'; /* change to '' for default discord font */
  font-weight: 300; /* text font weight. 300 is light, 400 is normal. DOES NOT AFFECT BOLD TEXT */
  letter-spacing: 0.05ch; /* decreases letter spacing for better readability. recommended on monospace fonts.*/

  /* sizes */
  --gap: 12px; /* spacing between panels */
  --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
  --border-thickness: 2px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
  --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

  /* animation/transition options */
  --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
  --list-item-transition: 0.2s ease; /* transition for list items */
  --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */

  /* top bar options */
  --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
  --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
  --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
  --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

  /* window controls */
  --custom-window-controls: off; /* off: default window controls, on: custom window controls */
  --window-control-size: 14px; /* size of custom window controls */

  /* dms button options */
  --custom-dms-icon: off; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
  --dms-icon-svg-url: url(''); /* icon svg url. MUST BE A SVG. */
  --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
  --dms-icon-color-before: var(--bg0); /* normal icon color */
  --dms-icon-color-after: var(--fg1); /* icon color when button is hovered/selected */
  --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
  --dms-background-image-url: url(''); /* url of the background image */
  --dms-background-image-size: cover; /* size of the background image (css background-size property) */
  --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */

  /* background image options */
  --background-image: off; /* off: no background image, on: enable background image (must set url variable below) */
  --background-image-url: url(''); /* url of the background image */

  /* transparency/blur options */
  /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
  --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */
  --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
  --panel-blur: off; /* off: no changes, on: blur the background of panels */
  --blur-amount: 12px; /* amount of blur */
  --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

  /* other options */
  --small-user-panel: off; /* off: default user panel, on: smaller user panel like in old discord */

  /* unrounding options */
  --unrounding: off; /* off: default, on: remove rounded corners from panels */

  /* styling options */
  --custom-spotify-bar: on; /* off: default, on: custom text-like spotify progress bar */
  --ascii-titles: on; /* off: default, on: use ascii font for titles at the start of a channel */
  --ascii-loader: system24; /* off: default, system24: use system24 ascii loader, cats: use cats loader */

  /* panel labels */
  --panel-labels: on; /* off: default, on: add labels to panels */
  --text-muted: var(--fg4) !important;
  --label-color: var(--text-muted); /* color of labels */
  --label-hover-color: var(--accent) !important;
  --label-font-weight: 500; /* font weight of labels */
}


/* color options */
:root {
  --colors: on; /* off: discord default colors, on: midnight custom colors */

  /* text colors */
  --text-0: var(--fg0); /* text on colored elements */
  --text-1: var(--fg2); /* other normally white text */
  --text-2: var(--fg1); /* headings and important text */
  --text-3: var(--fg1); /* normal text */
  --text-4: var(--fg4); /* icon buttons and channels */
  --text-5: var(--fg3); /* muted channels/chats and timestamps */

  /* background and dark colors */
  --bg-1: var(--bg3); /* dark buttons when clicked */
  --bg-2: var(--bg2); /* dark buttons */
  --bg-3: var(--bg1); /* spacing, secondary elements */
  --bg-4: var(--bg0); /* main background color */
  --hover: var(--bg2); /* channels and buttons when hovered */
  --active: var(--bg1); /* channels and buttons when clicked or selected */
  --active-2: var(--bg4); /* extra state for transparent buttons */
  --message-hover: var(--hover); /* messages when hovered */

  /* accent colors */
  --accent-1: oklch(from var(--blue) 0.9 c h); /* links and other accent text */
  --accent-2: var(--accent-hover); /* small accent elements */
  --accent-3: var(--accent); /* accent buttons */
  --accent-4: var(--accent-hover); /* accent buttons when hovered */
  --accent-5: var(--accent-active); /* accent buttons when clicked */
  --accent-new: var(--accent); /* stuff that's normally red like mute/deafen buttons */
  --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-1), transparent 90%) 40%, transparent); /* background of messages that mention you */
  --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
  --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
  --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

  /* status indicator colors */
  --online: var(--green-1); /* change to #40a258 for default */
  --dnd: var(--red-1); /* change to #d83a41 for default */
  --idle: var(--yellow-1); /* change to #cc954c for default */
  --streaming: var(--purple-1); /* change to ##9147ff for default */
  --offline: var(--text-4); /* change to #82838b for default offline color */

  /* border colors */
  --border-light: var(--bg4); /* general light border color */
  --border: var(--bg1); /* general normal border color */
  --border-hover: var(--accent); /* border color of panels when hovered */
  --button-border: var(--accent-hover); /* neutral border color of buttons */

  /* base colors */
  --red-1: var(--red);
  --red-2: oklch(from var(--red-1) .7 c h);
  --red-3: oklch(from var(--red-1) .65 c h);
  --red-4: oklch(from var(--red-1) .6 c h);
  --red-5: oklch(from var(--red-1) .5 c h);

  --green-1: var(--green);
  --green-2: oklch(from var(--green-1) .7 c h);
  --green-3: oklch(from var(--green-1) .65 c h);
  --green-4: oklch(from var(--green-1) .6 c h);
  --green-5: oklch(from var(--green-1) .5 c h);

  --blue-1: var(--blue);
  --blue-2: oklch(from var(--blue-1) .7 c h);
  --blue-3: oklch(from var(--blue-1) .65 c h);
  --blue-4: oklch(from var(--blue-1) .6 c h);
  --blue-5: oklch(from var(--blue-1) .5 c h);

  --yellow-1: var(--yellow);
  --yellow-2: oklch(from var(--yellow-1) .7 c h);
  --yellow-3: oklch(from var(--yellow-1) .65 c h);
  --yellow-4: oklch(from var(--yellow-1) .6 c h);
  --yellow-5: oklch(from var(--yellow-1) .5 c h);

  --purple-1: var(--purple);
  --purple-2: oklch(from var(--purple-1) .7 c h);
  --purple-3: oklch(from var(--purple-1) .65 c h);
  --purple-4: oklch(from var(--purple-1) .6 c h);
  --purple-5: oklch(from var(--purple-1) .5 c h);
}
